@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(context: String, assets: AssetsFinder)(implicit r: Request[_], rh: RequestHeader)

@views.html.adapters.main(assets = assets
    , webJarsUtil = webJarsUtil
)(title = "Example Adapter"
    , icon = assets.withUrlPrefix(context).path("assets/images/favicon.png")
) {


    @scalajs.html.scripts("scala-adapters-example-client",
        routes.Assets.at(_).toString,
        name => getClass.getResource(s"/public/$name") != null)

    <script>client.JobCockpitClient.main("@context");</script>

}